<header class="bar bar-header bar-dark">
    <button class="button  button-clear">
        <i class="icon ion-navicon" ng-click="openMenu()"></i>
    </button>
    <h1 class="title">Ordine Corrente</h1>
    <button class="button  button-clear">
        <i class="icon ion-ios7-upload-outline" ng-if="checkorder" ng-click="neworder()"></i>
    </button>
</header>
<content has-header="true">

    <div class="list">
      <div  ng-repeat-start="dish in dishes | orderBy:'category'" 
            class="item item-divider"
            ng-if="dish.iscategory"
            >
            {{dish.category}}
      </div>
      <a    ng-repeat-end 
            ng-if="!dish.iscategory" 
            ng-click="details(dish)"
            class="item">
            {{dish.name}} 
            <span class="item-note">({{ getPortions(dish.id) }} porzioni)</span>
      </a>
    </div>

</content>