<header class="bar bar-header bar-dark">
  <button class="button  button-clear">
    <i class="icon ion-arrow-left-c" ng-click="navigateBack()"></i>
  </button>
  <h1 class="title">Dettaglio</h1>
</header>
<content has-header="true">

  <div class="list">

    <label class="item item-radio" ng-repeat="(id,name) in items">
      <input type="radio" name="group">
      <div class="item-content" ng-click="setPortions(id)">
        {{name}}
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>

  </div>

</content>